
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="task.name"
                    required ng-maxlength="128" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate-value-max="128">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="task.status" id="field_status">
                <option value="PLANNED">PLANNED</option>
                <option value="CANCELED">CANCELED</option>
                <option value="WIP">WIP</option>
                <option value="DONE">DONE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_criticalness">Criticalness</label>
            <select class="form-control" name="criticalness" ng-model="task.criticalness" id="field_criticalness">
                <option value="LOW">LOW</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="HIGH">HIGH</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">StartDate</label>
            <input id="field_startDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="task.startDate" is-open="datePickerForStartDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">EndDate</label>
            <input id="field_endDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="task.endDate" is-open="datePickerForEndDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_securityEngineer">securityEngineer</label>
            <select class="form-control" id="field_securityEngineer" name="securityEngineer" ng-model="task.securityEngineer" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_initialSecurityReview">initialSecurityReview</label>
            <select class="form-control" id="field_initialSecurityReview" name="initialSecurityReview" ng-model="task.initialSecurityReview" ng-options="securityReview as securityReview.name for securityReview in securityreviews track by securityReview.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_tc">tc</label>
            <select class="form-control" id="field_tc" name="tc" ng-model="task.tc" ng-options="tc as tc.name for tc in tcs track by tc.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_notes">notes</label>
            <select class="form-control" id="field_notes" multiple name="notes" ng-model="task.notess" ng-options="note as note.note for note in notes track by note.id"></select>
        </div>
        <div class="form-group">
            <label for="field_links">links</label>
            <select class="form-control" id="field_links" multiple name="links" ng-model="task.linkss" ng-options="link as link.link for link in links track by link.id"></select>
        </div>
        <div class="form-group">
            <label for="field_project">project</label>
            <select class="form-control" id="field_project" name="project" ng-model="task.project" ng-options="project as project.name for project in projects track by project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
